* {
    font-family: IM Fell English, Eczar, Georgia, serif; /*Font family found from meyerweb.com */ 
}

/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --header-color: #999e67;
    --text-color: #364340;
    --avocado: #999e67; 
    --anzac: #e5984f;
    --cinnabar: #e5453d;
    --el-salva: #873430;
    --tea-green: #eff7ee;
}

body {
    background-color: var(--tea-green);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--header-color);
    padding: 10px;
    color: var(--text-color);
    text-align: center;
    top: 0;
    left: 25%;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#navigation {
    position: fixed;
    bottom: 10%;
    right: 0;
    width: 100px;
    height: 120px;
    background-color: var(--cinnabar);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color:antiquewhite;
}

main {
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-weight: 500;
}

h2 {
    font-size: larger;
}

h3 {
    margin-bottom: 5px;
    margin-top: 10px;
}

#introduction {
    margin-bottom: 20px;
}

#social-media {
    color: var(--el-salva);
}

#social-media:hover {
    color: var(--cinnabar);
}

.picture {
    border-radius: 10px;
    border: 10px solid var(--cinnabar);
}

#gallery {
    margin-bottom: 25px;
}

.gallery-picture {
    border-radius: 10px;
    border: 10px solid var(--cinnabar);
    width: 300px;
    height: 300px;
    margin: 10px
}

#Horiseon {
    width: 350px;
    height: 350px;
}

.gallery-picture:hover {
    border-color: #e5984f;

}